%header.content__title
  %h1 ALL BOOKINGS'S
.card
  .card-body
    .table-responsive.data-table
      %table#data-table.table
        %thead
          %tr
            %th Customer
            %th Phone No
            %th Email
            %th Farm Name
            %th Action
        %tbody
          - @bookings.each do |booking|
            %tr
              %td
                = booking.customer_name
              %td
                = booking.contact_no
              %td
                = booking.email
              %td
                = booking.farm.title
              %td
                %button.btn.btn-theme-dark.btn--icon
                  %i.zwicon-edit-square

                %button.btn.btn-theme-dark.btn--icon
                  %i.zwicon-user-delete

%nav
  %ul.pagination.justify-content-center
    = paginate @bookings
