:javascript
  // page specific javascript
  $(function() {
    $('.search-and-select').select2();
  } );

= form_with(model: [:admin, @tournament], local: true) do |form|

  #kt_content.kt-content.kt-grid__item.kt-grid__item--fluid
    .kt-portlet
      .kt-portlet__head
        .kt-portlet__head-label
          %h3.kt-portlet__head-title
            #{action_name.capitalize} Tournament
        .kt-portlet__head-toolbar
          .kt-portlet__head-wrapper
            = link_to admin_tournaments_path, class: 'btn btn-clean btn-icon-sm' do
              %i.la.la-long-arrow-left
              Back
      / begin::Form

      %form.kt-form
        .kt-portlet__body
          - if tournament.errors.any?
            .form-group
              = render "shared/error_messages", resource: tournament

          .form-group
            %label Full Name:
            = form.text_field :name, class: 'form-control', placeholder: 'Enter name', required: true
            %span.form-text.text-muted Please enter tournament's name

            = form.hidden_field :provider_id, value: Provider.first.id

          .form-group.row
            .col-lg-6
              %label Status:
              .kt-radio-inline
                %label.kt-radio.kt-radio--solid
                  = form.radio_button :status, 'upcoming'
                  Upcoming
                  %span
                %label.kt-radio.kt-radio--solid
                  = form.radio_button :status, 'ongoing'
                  Ongoing
                  %span
                %label.kt-radio.kt-radio--solid
                  = form.radio_button :status, 'concluded'
                  Concluded
                  %span
              %span.form-text.text-muted Please select status

          .form-group
            %label Provider Tornament's Id:
            = form.text_field :provider_tournament_id, required: true, class: 'form-control', placeholder: 'Enter provider tournament id'
            %span.form-text.text-muted Provider tournaments id to map with our tournament

          .form-group
            %label Add Plans:
            = form.collection_select(:plan_ids, Plan.active.collect, :id, :name, { prompt: "Please select" }, { multiple: true, class: 'form-control search-and-select' } )
            %span.form-text.text-muted Please select plans for this Tournaments


        .kt-portlet__foot
          .kt-form__actions.kt-form__actions--right
            %button.btn.btn-primary{type: "submit"} Submit
            %span.kt-margin-l-10
              or
              = link_to 'Cancel & Back', admin_tournaments_path, class: 'kt-link kt-font-bold'
