.kt-portlet__body
  .kt-section
    .kt-section__content
      .table-responsive
        %table.table.table-striped.table-head-bg-brand
          %thead
            %tr
              %th ID
              %th Title
              %th Provider Tournament Id
              %th Status
              %th Actions
          %tbody.kt-datatable__body{style: ""}
            - @tournaments.each do |tournament|
              %tr
                %td
                  = tournament.id
                %td
                  = tournament.name
                %td
                  = tournament.provider_tournament_id
                %td
                  %span.kt-badge.kt-badge--inline.kt-badge--pill{class: tournament.status_class}
                    = tournament.status
                %td
                  = link_to edit_admin_tournament_path(tournament), class: 'btn btn-sm btn-clean btn-icon btn-icon-md', title: "Edit details" do
                    %i.kt-font-brand.flaticon-edit
                  = link_to admin_tournament_path(tournament), remote: true, method: :delete,  data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-clean btn-icon btn-icon-md', title: "Delete" do
                    %i.kt-font-brand.flaticon-delete
                  = link_to admin_tournament_path(tournament), class: 'btn btn-sm btn-clean btn-icon btn-icon-md', title: "Show details" do
                    %i.kt-font-brand.flaticon-eye

  = paginate @tournaments
