%section.content
  %header.content__title
    %h1 Farm Details
  .card
    .card-body
      %h4.card-title Farm Name
      %h6.card-subtitle
        Enter Farm name with capitalized text. Ex -
        %code Chaitanya Agro Tourism
      = form_for @farm, url: title_farm_path(@farm), html: { method: :patch } do |f|
        .form-group
          %label Enter Name
          = f.text_field :title, placeholder: 'e.g: Chaitanya Agro Tourism', class: 'form-control'
        %button.btn.btn-success{type: "submit"} Update Name

  .card
    .card-body
      %h4.card-title ABOUT FARM
      %h6.card-subtitle Write about your farm in detail. Write at least 70-80 words.
      = form_for @farm, url: description_farm_path(@farm), html: { method: :patch } do |f|
        .row
          .col
            .form-group
              %label Write Here
              = f.text_area :title, placeholder: 'Start typing...', class: 'form-control', cols: 10, rows: 2
        %button.btn.btn-success{type: "submit"} Update Description

  .card
    .card-body
      %h4.card-title FARM CONATCT INFO
      %h6.card-subtitle Please fill following info.
      = form_for @farm, url: contact_info_farm_path(@farm), html: { method: :patch } do |f|
        .row
          .col
            .form-group.input-group
              .input-group-prepend
                %span.input-group-text Owner
              = f.text_field :owner_name, placeholder: 'e.g: MR. PRASHANT SHINDE', class: 'form-control'
            .form-group.input-group
              .input-group-prepend
                %span.input-group-text Phone
              = f.text_field :contact_no, placeholder: 'e.g: 9876543210', class: 'form-control'
          .col
            .form-group.input-group
              .input-group-prepend
                %span.input-group-text Email ID
              = f.email_field :email, placeholder: 'e.g: agrofarm@gamil.com', class: 'form-control'
            .form-group.input-group
              .input-group-prepend
                %span.input-group-text Alternate Phone
              = f.text_field :altr_contact_no, placeholder: 'e.g: 9876543210', class: 'form-control'
        .row
          .col
            .form-group
              %label Address
              = f.text_area :address, placeholder: 'e.g: Pune', class: 'form-control', cols: 10, rows: 2
        %button.btn.btn-success{type: "submit"} Update Info
  .card
    .card-body
      %h4.card-title Form Details
      %h6.card-subtitle Enter below details.
      = form_for @farm, url: details_farm_path(@farm), html: { method: :patch } do |f|
        .row
          .col
            .form-group
              %label Number of Rooms
              = f.text_field :no_of_rooms, placeholder: 'e. g: 25', class: 'form-control'
            .form-group
              %label Food Type
              = f.text_field :food_type, placeholder: 'e. g: Veg & Non Veg', class: 'form-control'
          .col
            .form-group
              %label Area of Farm
              = f.text_field :area, placeholder: 'e. g: 10 Acre', class: 'form-control'
            .form-group
              %label Time to visit Farm
              = f.text_field :time_to_visit, placeholder: 'e. g: 6:00AM - 10:00PM', class: 'form-control'
        %button.btn.btn-success{type: "submit"} Update Details
