.container.caf-login-container
  .login-fullpage.caf-login
    .row
      .login-logo
        %img.center-image{alt: "", src: "/assets/user/img/caf/side.jpg"}
        %a{href: "1CAF_Homepage.html"}
          %img.home-icon{alt: "", src: "/assets/user/img/caf/home.svg"}
      .col-xs-12.col-sm-7
        .f-login-content
          .f-login-header
            .f-login-title.color-dr-blue-2 Welcome back!
            .f-login-desc.color-grey Please login to your account
          .f-login-form
            = content_tag(:div, flash[:error], id: "flash_error") if flash[:error]
            = content_tag(:div, flash[:notice], id: "flash_notice") if flash[:notice]
            = content_tag(:div, flash[:alert], id: "flash_alert") if flash[:alert]
            %br
            = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "kt-form" }) do |f|
              .input-style-1.b-50.type-2.color-5
                = f.email_field :email, placeholder: "Email", required: true
              .input-style-1.b-50.type-2.color-5
                = f.password_field :password, placeholder: "Password", required: true
              .checkbox-group
                .input-entry.color-3
                  %input#text-2.checkbox-form{name: "checkbox", type: "checkbox", value: "climat control"}
                  %label.clearfix{for: "text-2"}
                    %span.sp-check
                      %i.fa.fa-check
                    %span.checkbox-text Remember me
              = f.submit 'LOGIN TO YOUR ACCOUNT', class: 'login-btn c-button full b-60 bg-dr-blue-2 hv-dr-blue-2-o'
