.kt-portlet
  .kt-portlet__head
    .kt-portlet__head-label
      %span.kt-portlet__head-icon
        %i.kt-font-brand.flaticon2-line-chart
      %h3.kt-portlet__head-title
        Payment Details
    .kt-portlet__head-toolbar
      .kt-portlet__head-wrapper
        = link_to user_payment_details_path(current_user), class: 'btn btn-clean btn-icon-sm' do
          %i.la.la-long-arrow-left
          Back
  = form_with(model: [@user, @payment_detail], local: true) do |form|
    .kt-portlet__body
      - if payment_detail.errors.any?
        .form-group
          = render "shared/error_messages", resource: payment_detail
      .kt-section
        %h3.kt-section__title
        .kt-section__content
          .form-group.row
            .col-lg-12
              %label Cardholder Name:
              = form.text_field :cashholders_name, class: 'form-control error', placeholder: 'Enter Cashholders Name', required: true
              %span.form-text.text-muted Please enter Card Holder name
          .form-group.row
            .col-lg-12
              %label Card Number:
              = form.number_field :card_number, class: 'form-control', placeholder: 'Enter Card Number', required: true
              %span.form-text.text-muted Please enter card number
          .form-group.form-group-last.row
            = form.fields_for :expiry_date do |exp_date|
              .col-lg-4.form-group-sub
                %label Exp Month:
                = exp_date.select(:month, options_for_select([["Select Month", ""],'01','02','03','04','05','06','07','08','09','10','11','12']),{}, {class: 'form-control',required: true, value: @payment_detail.expiry_date["month"]})
                %span.form-text.text-muted Please select month

              .col-lg-4.form-group-sub
                %label Exp Year:
                = exp_date.select(:year, years_select_list, {}, {class: 'form-control',required: true, value: @payment_detail.expiry_date["year"]})
                %span.form-text.text-muted Please select month

              .col-lg-4.form-group-sub
                %label CVV:
                = form.number_field :cvv, class: 'form-control',min: 3, placeholder: 'Enter CVV', required: true
                %span.form-text.text-muted Please enter CVV

      .kt-separator.kt-separator--border-dashed.kt-separator--space-xl
      .kt-section
        %h3.kt-section__title
          Billing Address
          %i.kt-section__help{"data-toggle" => "kt-tooltip", "data-width" => "auto", :title => "If different than the corresponding address"}
        .kt-section__content
          .form-group.row
            .col-lg-12
              %label Address Line 1:
              = form.text_field :address_line_1, class: 'form-control', placeholder: 'Enter address', required: true
              %span.form-text.text-muted Please enter address

          .form-group.row
            .col-lg-12
              %label Address Line 2:
              = form.text_field :address_line_2, class: 'form-control', placeholder: 'Enter address'
              %span.form-text.text-muted Please enter address

          .form-group.form-group-last.row
            .col-lg-6.form-group-sub
              %label City:
              = form.text_field :city, class: 'form-control', placeholder: 'Enter City', required: true
              %span.form-text.text-muted Please enter City

            .col-lg-6.form-group-sub
              %label State:
              = form.text_field :state, class: 'form-control', placeholder: 'Enter State', required: true
              %span.form-text.text-muted Please enter City

          .form-group.form-group-last.row
            .col-lg-6.form-group-sub
              %label Zip Code:
              = form.number_field :zipcode, class: 'form-control', placeholder: 'Enter zipcode', with: /^\d{3}$/, required: true
              %span.form-text.text-muted Please enter zipcode
            .col-lg-6.form-group-sub
              %label Country:
              = form.select(:country, [' ','India','Albania','Algeria','Andorra','FasoBurundi','Cambodia','Cameroon','Canada'],{}, {class: 'form-control',required: true})
              %span.form-text.text-muted Please select country
    .kt-portlet__foot
      .kt-form__actions
        .row
          .col-lg-12
            %button.btn.btn-brand{:type => "submit"} Submit
            = link_to 'Cancel',user_payment_details_path(current_user), class: 'btn btn-secondary'
