.kt-portlet__body
  .kt-section
    .kt-section__content
      .table-responsive
        %table.table.table-striped.table-head-bg-brand
          %thead
            %tr
              %th Number
              %th Cashholder Name
              %th Card Number
              %th Actions

          %tbody
            - @payment_details.each_with_index do |pay_detail, index|
              %tr
                %td
                  = (index + 1)
                %td
                  = pay_detail.cashholders_name
                %td
                  = mask(pay_detail.card_number)
                %td
                  = link_to edit_user_payment_detail_path(current_user.id,pay_detail), class: 'btn btn-sm btn-clean btn-icon btn-icon-md', title: "Edit details" do
                    %i.kt-font-brand.flaticon-edit
                  = link_to user_payment_detail_path(current_user.id,pay_detail), method: :delete,  data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-clean btn-icon btn-icon-md' do
                    %i.kt-font-brand.flaticon-delete
