%section.content
  %header.content__title
    %h1 Customers Messeges
  .card
    .toolbar.toolbar--alt.toolbar--inner
      .toolbar__nav
        = "You have received #{@bookings.count} Messeges"
      .actions
        - if @bookings
          = link_to destroy_all_bookings_path, method: :delete, data: { confirm: "Are you sure? This can't be undone" } do
            %i.actions__item.zwicon-trash{"data-title" => "Delete All Messeges", "data-toggle" => "tooltip"}
        %span.text-warning
          = sortable 'created_at', 'Sort By Date'

    .listview.listview--truncate.listview--bordered.issue-tracker
      - @bookings.each do |booking|
        .listview__item
          %img.avatar-img{:alt => "", :src => "demo/img/contacts/user.svg"}/
          .listview__content
            %h4
              %a.text-body{:href => "#"}
                %span.text-light= booking.customer_name
                from
                %span.text-light Pune
                Wanted to visit your farm on
                %span.text-warning
                  = booking.formatted_check_in
            %p
              %i.zwicon-clock
              = booking.formatted_created_at
          .issue-tracker__item.d-none.d-lg-inline
            %i.zwicon-phone
            = booking.contact_no
          .issue-tracker__item.d-none.d-sm-inline
            %i.zwicon-mail
            = booking.email
          .issue-tracker__item.d-none.d-sm-inline
            = link_to booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } do
              %span.badge.badge-danger.cursor-pointer
                %i.zwicon-trash
                Delete
      .clearfix.m-4

  %nav
    %ul.pagination.justify-content-center
      = paginate @bookings
