= form_with(model: [:admin, @farm], local: true) do |form|
  %header.content__title
    %h1 All Farms
  .card
    .card-body
      %h4.card-title
        = "#{action_name} Farm Details"
      %form
        - if farm.errors.any?
          .row
            .form-group
              = render "shared/error_messages", resource: farm
        .row
          %label.col-sm-2.col-form-label Featured
          .col-sm-10
            .form-group
              = form.label :is_featured, "Yes"
              = form.radio_button :is_featured, true, required: true
              = form.label :is_featured, "No"
              = form.radio_button :is_featured, false, required: true
        .row
          %label.col-sm-2.col-form-label Status
          .col-sm-10
            .form-group
              = form.select :status, options_for_select(Farm.statuses.map {|k, v| [k.humanize.capitalize, k]}, farm.status), class: 'form-control', required: true
        .row
          %label.col-sm-2.col-form-label Reviews Count
          .col-sm-10
            .form-group
              = form.number_field :reviews, class: 'form-control', required: true
        .row
          %label.col-sm-2.col-form-label Stars
          .col-sm-10
            .form-group
              = form.select :stars, [1,2,3,4,5], class: 'form-control', required: true

        %button.btn.btn-success.mt-4{type: "submit"} Update Farm
      %br
      %br
