.main-wraper.padd-90.caf-booking-outer
  .container
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2
        .second-title
          %h4.subtitle.color-dr-blue-2 For the following event
          %h2.color-dark-2 Booking Available
    .row.d-flex
      .item.hotels.gal-item.style-3.col-sm-12.col-sm-4.material
        = link_to search_welcome_index_path, class: 'black-hover' do
          .gal-item-icon.zoom-img
            %img.img-full.img-responsive{alt: "", src: "/assets/user/img/caf/wedding.jpg"}
            .tour-layer.delay-1
            .vertical-align
              %span.c-button.small.bg-white.delay-2
                %span Book Now
          .gal-item-desc.delay-1
            %h4
              %b Wedding Ceremony
      .item.hotels.gal-item.style-3.col-xs-12.col-sm-4.material
        = link_to search_welcome_index_path, class: 'black-hover' do
          .gal-item-icon.zoom-img
            %img.img-full.img-responsive{alt: "", src: "/assets/user/img/caf/baby_shower.jpg"}
            .tour-layer.delay-1
            .vertical-align
              %span.c-button.small.bg-white.delay-2
                %span Book Now
          .gal-item-desc.delay-1
            %h4
              %b Baby Shower
      .item.hotels.gal-item.style-3.col-xs-12.col-sm-4.material
        = link_to search_welcome_index_path, class: 'black-hover' do
          .gal-item-icon.zoom-img
            %img.img-full.img-responsive{alt: "", src: "/assets/user/img/caf/birthday.jpg"}
            .tour-layer.delay-1
            .vertical-align
              %span.c-button.small.bg-white.delay-2
                %span Book Now
          .gal-item-desc.delay-1
            %h4
              %b Birthday Party
      .item.hotels.gal-item.style-3.col-sm-12.col-sm-4.material
        = link_to search_welcome_index_path, class: 'black-hover' do
          .gal-item-icon.zoom-img
            %img.img-full.img-responsive{alt: "", src: "/assets/user/img/caf/trip.JPG"}
            .tour-layer.delay-1
            .vertical-align
              %span.c-button.small.bg-white.delay-2
                %span Book Now
          .gal-item-desc.delay-1
            %h4
              %b School Trip
      .item.hotels.gal-item.style-3.col-xs-12.col-sm-4.material
        = link_to search_welcome_index_path, class: 'black-hover' do
          .gal-item-icon.zoom-img
            %img.img-full.img-responsive{alt: "", src: "/assets/user/img/caf/engagement.jpg"}
            .tour-layer.delay-1
            .vertical-align
              %span.c-button.small.bg-white.delay-2
                %span Book Now
          .gal-item-desc.delay-1
            %h4
              %b Engagement
      .item.hotels.gal-item.style-3.col-xs-12.col-sm-4.material
        = link_to search_welcome_index_path, class: 'black-hover' do
          .gal-item-icon.zoom-img
            %img.img-full.img-responsive{alt: "", src: "/assets/user/img/caf/adults.JPG"}
            .tour-layer.delay-1
            .vertical-align
              %span.c-button.small.bg-white.delay-2
                %span Book Now
          .gal-item-desc.delay-1
            %h4
              %b Senior Citizens' Day
