= form_for @farm, url: farm_rate_path(@farm), html: { method: :put } do |f|
  %section.content
    %header.content__title
      %h1 Farm Details
    .card
      .card-body
        %h4.card-title FARM RATES
        %h6.card-subtitle
          Add per person rates. You can add multiple rates by clicking
          = succeed "." do
            %code Add Rate

        = f.fields_for :rates do |rate|
          = render 'rate_fields', f: rate

        .links
          = link_to_add_association f, :rates, class: 'btn btn-primary' do
            %i.zwicon-plus
            Add More Rates

        %br
        %button.btn.btn-success{type: "submit"} Update Rate
