%h5.head
  Hi,Admin
  %br/
  %span.user_name
    #{@subscription.user.full_name.try(:capitalize)}
  has subscribed to a plan
%h4.title
  = @subscription.plan.name
%h6 Plan Details:
.row
  .col1
    %h6 Start Date: #{ @subscription.start_time.strftime("%d-%m-%Y")}
  .col2
    %h6 End Date: #{ @subscription.end_time.strftime("%d-%m-%Y") }
%h6 Plan status: #{@subscription.s_type.capitalize}
