%html{lang: "en"}
  / begin::Head
  / Added by HTTrack
  %head
    %meta{content: "text/html;charset=UTF-8", "http-equiv" => "content-type"}
    / /Added by HTTrack
    %meta{charset: "utf-8"}
    %title Hoteloite | Admin Login
    = csrf_meta_tags
    = csp_meta_tag
    %meta{content: "Login page example", name: "description"}
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    / begin::Fonts
    %script{src: "/assets/admin/fonts/webfont.js"}
    :javascript
      WebFont.load({
          google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
          active: function() {
              sessionStorage.fonts = true;
          }
      });
    / end::Fonts
    / begin::Page Custom Styles(used by this page)
    %link{href: "/assets/admin/css/demo1/pages/general/login/login-2.css", rel: "stylesheet", type: "text/css"}
    / end::Page Custom Styles
    / begin::Global Theme Styles(used by all pages)
    %link{href: "/assets/admin/vendors/global/vendors.bundle.css", rel: "stylesheet", type: "text/css"}
    %link{href: "/assets/admin/css/demo1/style.bundle.css", rel: "stylesheet", type: "text/css"}
    / end::Global Theme Styles
    / begin::Layout Skins(used by all pages)
    %link{href: "/assets/admin/css/demo1/skins/header/base/light.css", rel: "stylesheet", type: "text/css"}
    %link{href: "/assets/admin/css/demo1/skins/header/menu/light.css", rel: "stylesheet", type: "text/css"}
    %link{href: "/assets/admin/css/demo1/skins/brand/dark.css", rel: "stylesheet", type: "text/css"}
    %link{href: "/assets/admin/css/demo1/skins/aside/dark.css", rel: "stylesheet", type: "text/css"}
    / end::Layout Skins
    %link{href: "/assets/user/media/logos/favicon.ico", rel: "shortcut icon"}
    / end::Head
    / begin::Body
  %body.kt-quick-panel--right.kt-demo-panel--right.kt-offcanvas-panel--right.kt-header--fixed.kt-header-mobile--fixed.kt-subheader--fixed.kt-subheader--enabled.kt-subheader--solid.kt-aside--enabled.kt-aside--fixed.kt-page--loading
    .kt-grid.kt-grid--ver.kt-grid--root
      #kt_login.kt-grid.kt-grid--hor.kt-grid--root.kt-login.kt-login--v2.kt-login--signin
        .kt-grid__item.kt-grid__item--fluid.kt-grid.kt-grid--hor{style: "background-image: url(/assets/admin/media/bg/bg-1.jpg);"}
          .kt-grid__item.kt-grid__item--fluid.kt-login__wrapper
            .kt-login__container
              .kt-login__logo
                %a{href: "#"}
                  %img{src: "/assets/user/media/logos/gp_2.png", height: '30px'}
              .kt-login__signin
                .kt-login__head
                  %h3.kt-login__title Sign In To Admin
                = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "kt-form" }) do |f|
                  .form-group
                    = f.text_field :email, class: "form-control", placeholder: "Email"
                  .form-group
                    = f.password_field :password, class: "form-control", placeholder: "Password"
                  .row.kt-login__extra
                    .col
                      %label.kt-checkbox
                        %input{name: "remember", type: "checkbox"}
                        Remember me
                        %span
                    .col.kt-align-right
                      %a#kt_login_forgot.kt-link.kt-login__link{href: "javascript:;"} Forget Password ?
                  .kt-login__actions
                    %button#kt_login_signin_submit.btn.btn-pill.kt-login__btn-primary{type: "submit"} Sign In
              .kt-login__signup
                .kt-login__head
                  %h3.kt-login__title Sign Up
                  .kt-login__desc Enter your details to create your account:
                %form.kt-login__form.kt-form{action: "#"}
                  .input-group
                    %input.form-control{name: "fullname", placeholder: "Fullname", type: "text"}
                  .input-group
                    %input.form-control{autocomplete: "off", name: "email", placeholder: "Email", type: "text"}
                  .input-group
                    %input.form-control{name: "password", placeholder: "Password", type: "password"}
                  .input-group
                    %input.form-control{name: "rpassword", placeholder: "Confirm Password", type: "password"}
                  .row.kt-login__extra
                    .col.kt-align-left
                      %label.kt-checkbox
                        %input{name: "agree", type: "checkbox"}>/
                        I Agree the
                        = succeed "." do
                          %a.kt-link.kt-login__link.kt-font-bold{href: "#"} terms and conditions
                        %span
                      %span.form-text.text-muted
                  .kt-login__actions
                    %button#kt_login_signup_submit.btn.btn-pill.kt-login__btn-primary> Sign Up
                      
                    %button#kt_login_signup_cancel.btn.btn-pill.kt-login__btn-secondary Cancel
              .kt-login__forgot
                .kt-login__head
                  %h3.kt-login__title Forgotten Password ?
                  .kt-login__desc Enter your email to reset your password:
                %form.kt-form{action: "#"}
                  .input-group
                    %input#kt_email.form-control{autocomplete: "off", name: "email", placeholder: "Email", type: "text"}
                  .kt-login__actions
                    %button#kt_login_forgot_submit.btn.btn-pill.kt-login__btn-primary> Request
                      
                    %button#kt_login_forgot_cancel.btn.btn-pill.kt-login__btn-secondary Cancel
              / .kt-login__account
              /   %span.kt-login__account-msg>
              /     Don't have an account yet ?
              /     
              /   %a#kt_login_signup.kt-link.kt-link--light.kt-login__account-link{href: "javascript:;"} Sign Up
    / begin::Global Config(global config for global JS sciprts)
    :javascript
      var KTAppOptions = {"colors":{"state":{"brand":"#5d78ff","dark":"#282a3c","light":"#ffffff","primary":"#5867dd","success":"#34bfa3","info":"#36a3f7","warning":"#ffb822","danger":"#fd3995"},"base":{"label":["#c5cbe3","#a1a8c3","#3d4465","#3e4466"],"shape":["#f0f3ff","#d9dffa","#afb4d4","#646c9a"]}}};
    / end::Global Config
    / begin::Global Theme Bundle(used by all pages)
    %script{src: "/assets/admin/vendors/global/vendors.bundle.js", type: "text/javascript"}
    %script{src: "/assets/admin/js/demo1/scripts.bundle.js", type: "text/javascript"}
    / end::Global Theme Bundle
    / begin::Page Scripts(used by this page)
    %script{src: "/assets/admin/js/demo1/pages/login/login-general.js", type: "text/javascript"}
    / end::Page Scripts
  / end::Body
