:javascript
  // page specific javascript
  $(function() {
    $('.search-and-select').select2();

    $('#plan_allow_all_tournaments').change(function () {
      if ($('#plan_allow_all_tournaments').is(':checked')) {
        $('#select_tournaments_div').hide();
      } else {
        $('#select_tournaments_div').show();
      }
    }).change();

     $('#plan_is_available_monthly').change(function () {
      debugger;
      if ($('#plan_is_available_monthly').is(':checked')) {
        $('#price-per-month-div').show();
      } else {
        $('#price-per-month-div').hide();
      }
    }).change();

    $('#plan_is_available_annually').change(function () {
      debugger;
      if ($('#plan_is_available_annually').is(':checked')) {
        $('#price-per-year-div').show();
      } else {
        $('#price-per-year-div').hide();
      }
    }).change();

  } );



= form_with(model: [:admin, @plan], local: true) do |form|
  #kt_content.kt-content.kt-grid__item.kt-grid__item--fluid
    .kt-portlet
      .kt-portlet__head
        .kt-portlet__head-label
          %h3.kt-portlet__head-title
            #{action_name.capitalize} Plan
        .kt-portlet__head-toolbar
          .kt-portlet__head-wrapper
            = link_to admin_plans_path, class: 'btn btn-clean btn-icon-sm' do
              %i.la.la-long-arrow-left
              Back

      %form.kt-form
        .kt-portlet__body
          - if plan.errors.any?
            .form-group
              = render "shared/error_messages", resource: plan

          .form-group
            %label Name:
            = form.text_field :name, class: 'form-control', placeholder: 'Enter name', required: true
            %span.form-text.text-muted Please enter plan's name

          .form-group
            %label Usage:
            = form.select :usage, Plan.usages.map {|key, value| [key.titleize, key]}, { prompt: 'Select Usage'}, class: 'form-control', required: true
            %span.form-text.text-muted Please Select Usage Type

          .form-group
            %label Features:
            %div{class:"md-editor", id:"1560959047303"}
              = form.text_area :features, class:"form-control md-input", "data-provide" => "markdown", rows:"10", style:"resize: none;"
              %div{class:"md-fullscreen-controls"}
                %a{href:"#", class:"exit-fullscreen", title:"Exit fullscreen"}
            %span.form-text.text-muted Please enter plan's Features

          .form-group
            %label Free Trial Days:
            = form.text_field :free_trial_days, class: 'form-control', placeholder: 'Enter Free Trial Days', required: true
            %span.form-text.text-muted Please enter Free Trial Days

          .form-group.row
            %label.col-3.col-form-label Monthly Avaibility:
            .col-9
              .kt-checkbox-inline
                %label.kt-checkbox
                  = form.check_box :is_available_monthly, { class: 'form-control'}, '1', '0'
                  Check Here
                  %span

          .form-group#price-per-month-div
            %label Price Per Month:
            = form.text_field :price_per_month, class: 'form-control', placeholder: 'Enter Price Per Month'
            %span.form-text.text-muted Please enter plan's Price Per Month

          .form-group.row
            %label.col-3.col-form-label Annualy Avaibility:
            .col-9
              .kt-checkbox-inline
                %label.kt-checkbox
                  = form.check_box :is_available_annually, { class: 'form-control' }, '1', '0'
                  Check Here
                  %span

          .form-group#price-per-year-div
            %label Price Per Year:
            = form.text_field :price_per_year, class: 'form-control price-annual-class', placeholder: 'Enter Price Per Year'
            %span.form-text.text-muted Please enter plan's Price Per Year

          .form-group
            %label Calls Limit Per Hour:
            = form.number_field :calls_limit_per_hour, class: 'form-control', placeholder: 'Enter Calls Limit Per Hour', required: true
            %span.form-text.text-muted Please enter plan's Calls Limit Per Hour

          .form-group
            %label Active:
            %span.kt-switch.kt-switch--outline.kt-switch--icon.kt-switch--success
              %label
                = form.check_box :active, { class: 'form-control' }, '1', '0'
                %span{style: 'margin: 0px 0px -15px 100px;'}
            %span.form-text.text-muted Please select active

          .form-group
            %label Allow All Tournaments:
            %span.kt-switch.kt-switch--outline.kt-switch--icon.kt-switch--success
              %label
                = form.check_box :allow_all_tournaments, { class: 'form-control' }, '1', '0'
                %span{style: 'margin: 0px 0px -15px 100px;'}
            %span.form-text.text-muted Please select to allow all tournaments

          .form-group
            %label Sport Type:
            = form.select :sports_type, Plan.sports_types.map {|key, value| [key.titleize, key]}, { prompt: 'Select Sports type'}, class: 'form-control', required: true
            %span.form-text.text-muted Please enter plan's Sport Type

          .form-group#select_tournaments_div
            %label Add Tournaments:
            = form.collection_select(:tournament_ids, Tournament.all.collect, :id, :name, { prompt: "Please select" }, { multiple: true, class: 'form-control search-and-select' } )
            %span.form-text.text-muted Please select tournaments for this Plan

        .kt-portlet__foot
          .kt-form__actions.kt-form__actions--right
            %button.btn.btn-primary{type: "submit"} Submit
            %span.kt-margin-l-10
              or
              = link_to 'Cancel & Back', admin_plans_path, class: 'kt-link kt-font-bold'


