#kt_content.kt-content.kt-grid__item.kt-grid__item--fluid
  .kt-portlet.kt-portlet--mobile
    .kt-portlet__head.kt-portlet__head--lg
      .kt-portlet__head-label
        %span.kt-portlet__head-icon
          .kt-demo-icon__preview
        %h3.kt-portlet__head-title
          Plans Details:
      .kt-portlet__head-toolbar
        .kt-portlet__head-wrapper
          = link_to admin_plans_path, class: 'btn btn-clean btn-icon-sm' do
            %i.la.la-long-arrow-left
            Back 
        .kt-portlet__head-wrapper
          = link_to edit_admin_plan_path(@plan), class: 'btn btn-brand btn-icon-sm' do
            Edit 
    .kt-portlet__body
      .kt-widget12
        .kt-portlet__body.kt-portlet__body--fi
          .kt-widget12__content
            .kt-widget12__item
              .kt-widget12__info
                %span.kt-widget12__desc Plan Name:
                .kt-widget12__value
                  = @plan.name.capitalize
              .kt-widget12__info
                %span.kt-widget12__desc Call Limits / hr:
                .kt-widget12__value
                  = @plan.calls_limit_per_hour
            .kt-widget12__item
              .kt-widget12__info
                %span.kt-widget12__desc Is Available Monthly:
                .kt-widget12__value
                  = @plan.is_available_monthly

              .kt-widget12__info
                %span.kt-widget12__desc Is Available Annually:
                .kt-widget12__value
                  = @plan.is_available_annually

            .kt-widget12__item
              .kt-widget12__info
                %span.kt-widget12__desc Monthly Price:
                .kt-widget12__value
                  = @plan.price_per_month ? @plan.price_per_month : '---'

              .kt-widget12__info
                %span.kt-widget12__desc Yearly Price:
                .kt-widget12__value
                  = @plan.price_per_year ? @plan.price_per_year : '---'

            .kt-widget12__item
              .kt-widget12__info
                %span.kt-widget12__desc Active Status:
                .kt-widget12__value
                  = @plan.active ? 'Active' : 'Not Active'
              .kt-widget12__info
                %span.kt-widget12__desc Usage Status:
                .kt-widget12__value
                  = @plan.usage

            .kt-widget12__item
              .kt-widget12__info
                %span.kt-widget12__desc Sport Type:
                .kt-widget12__value
                  = @plan.sports_type
              .kt-widget12__info
                %span.kt-widget12__desc Free Trial Days:
                .kt-widget12__value
                  = @plan.free_trial_days

            .kt-widget12__item
              .kt-widget12__info
                %span.kt-widget12__desc Tournaments:
                .kt-widget12__value
                  %ul
                    - @tournaments.each do |tour|
                      %li= tour.name.capitalize
