%aside.sidebar.navigation
  .scrollbar
    %ul.navigation__menu
      - farm = current_user.farm
      %li
        = link_to bookings_path, class: "text-active-blue #{@breadcrumb[:bookings]}" do
          %i.zwicon-mail.text-blue
          Messeges
      %li
        = link_to edit_farm_path(farm), class: "text-active-blue #{@breadcrumb[:farms]}" do
          %i.zwicon-document.text-blue
          Farm Details
      %li
        = link_to edit_farm_rate_path(farm), class: "text-active-blue #{@breadcrumb[:farm_rates]}" do
          %i.zwicon-rupee-sign.text-red
          Farm Rates
      %li
        = link_to edit_farm_category_path(farm), class: "text-active-blue #{@breadcrumb[:farm_categories]}" do
          %i.zwicon-grid.text-orange
          Farm Categories
      %li
        = link_to edit_farm_section_path(farm), class: "text-active-blue #{@breadcrumb[:farm_sections]}" do
          %i.zwicon-list-bullet.text-yellow
          Add Sections
      %li
        = link_to edit_farm_media_link_path(farm), class: "text-active-blue #{@breadcrumb[:farm_media_links]}" do
          %i.zwicon-earth-alt.text-orange>
          Social Media
      %li.navigation__sub
        %a.text-active-blue{"data-mae-action" => "submenu-toggle", :href => "#"}
          %i.zwicon-image-wide.text-purple>
          Farm Slider
        %ul
          %li
            %a.active-active-blue{:href => "farm_slider.html"} Update Slider
          %li
            %a{:href => "farm_view_slider.html"} View Slider
      %li.navigation__sub
        %a.text-active-blue{"data-mae-action" => "submenu-toggle", :href => "#"}
          %i.zwicon-image-gallery.text-purple>
          Farm Slider
        %ul
          %li
            %a.active-active-blue{:href => "farm_slider.html"} Update Gallery
          %li
            %a{:href => "farm_view_slider.html"} View Gallery
      %li
        = link_to edit_farm_location_path(farm), class: "text-active-blue #{@breadcrumb[:farm_location]}" do
          %i.zwicon-my-location.text-orange>
          Farm Location