#kt_content.kt-content.kt-grid__item.kt-grid__item--fluid
  .kt-portlet.kt-portlet--mobile
    .kt-portlet__head.kt-portlet__head--lg
      .kt-portlet__head-label
        %span.kt-portlet__head-icon
          .kt-demo-icon__preview
            %i.kt-font-brand.flaticon2-user
        %h3.kt-portlet__head-title
          User ( #{@user.user_name.capitalize} )
      .kt-portlet__head-toolbar
        .kt-portlet__head-wrapper
          = link_to admin_users_path, class: 'btn.btn-clean.btn-icon-sm' do
            %i.la.la-long-arrow-left
            Back
    .kt-portlet__body
      .kt-portlet__head
        %h5.kt-widget24__title Total Subscriptions:  #{@subscriptions.count}
        %h6.kt-widget24__desc Last Sign In:  #{ sign_in_at_date_formatter(@user.last_sign_in_at)}
      - if @subscriptions.present?
        .kt-portlet__body.kt-portlet__body--fit
          %table.kt-datatable__table{style: "display: block; min-height: 600px;"}
            .row.row-no-padding.row-col-separator-xl
              - @user.subscriptions.each do |subscription|
                .col-md-12.col-lg-6.col-xl-3
                  .kt-widget24
                    .kt-widget24__details
                      .kt-widget24__info
                        %h6 Plan:
                        %span.kt-widget24__desc
                          = subscription.plan.name
                      .kt-widget24__info
                        %h6 Subscription Type
                        %span.kt-widget24__desc
                          .kt-badge.kt-badge--inline.kt-badge--pill{class: subscription.s_type == 'monthly' ? 'kt-badge--danger' : 'kt-badge--success'}
                            = subscription.s_type
                      .kt-widget24__info
                        %h6 Auto Renewal
                        %span.kt-widget24__desc
                          = subscription.auto_renewal ? 'Yes' : 'No'
                    .progress.progress--sm
                      .progress-bar{class: subscription.s_type == 'monthly' ? 'kt-bg-brand' : 'kt-bg-warning', "aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar", :style => "width: #{( Time.now.to_date - subscription.start_time.to_date).to_i }%;"}
                    .kt-widget24__action
                      %span.kt-widget24__change
                        = dateformatter(subscription.start_time)
                      %span.kt-widget24__number
                        = dateformatter(subscription.end_time)
      - else
        .kt-portlet
          %br/
          %h5.kt-widget24__title.kt-font-danger.text-center
            User have not Subscribed to any plans yet.
          %button.btn.btn-warning.btn-elevate.btn-pill{:type => "button"}
            %i.la.la-bullhorn
            Notify User About Available Plans
