:javascript
  // page specific javascript
  $(function() {
    $('.search-and-select').select2();
  } );

= form_with(model: [:admin, @subscription], local: true) do |form|

  #kt-portlet.kt-content.kt-grid__item.kt-grid__item--fluid
    .kt-portlet
      .kt-portlet__head
        .kt-portlet__head-label
          %h3.kt-portlet__head-title
            #{action_name.capitalize} Plan
        .kt-portlet__head-toolbar
          .kt-portlet__head-wrapper
            = link_to admin_subscriptions_path, class: 'btn btn-clean btn-icon-sm' do
              %i.la.la-long-arrow-left
              Back
      / begin::Form
      %form.kt-form
        .kt-portlet__body
          - if subscription.errors.any?
            .form-group
              = render "shared/error_messages", resource: subscription

          .kt-section.kt-section--first
            .kt-section__body
              .form-group.row
                %label.col-lg-3.col-form-label Select User:
                .col-lg-6
                  = select_tag :user_id,
                    options_from_collection_for_select(@users, :id, :full_name, @subscription.user_id),
                    { include_blank: 'Open this select to User',
                      class: 'custom-select form-control search-and-select',
                      name: 'subscription[user_id]' }
                  %span.form-text.text-muted Please select User

              .form-group.row
                %label.col-lg-3.col-form-label Select Plan:
                .col-lg-6
                  = select_tag :plan_id,
                    options_from_collection_for_select(@plans,
                      :id,
                      :name,
                      @subscription.plan_id),
                    { include_blank: 'Open this select to Plan',
                      class: 'custom-select form-control search-and-select',
                      name: 'subscription[plan_id]' }
                  %span.form-text.text-muted Please select Plan

              .form-group.row
                %label.col-lg-3.col-form-label Subscription Type:
                .col-lg-6
                  .kt-radio-inline
                    %label.kt-radio.kt-radio--solid
                      = form.radio_button :s_type, 'monthly'
                      Monthly
                      %span
                    %label.kt-radio.kt-radio--solid
                      = form.radio_button :s_type, 'yearly'
                      Yearly
                      %span
                  %span.form-text.text-muted Please select Type

              .form-group.row
                %label.col-lg-3.col-form-label Auto Renewal :
                .col-lg-6
                  %span.kt-switch.kt-switch--outline.kt-switch--icon.kt-switch--success
                    %label
                      = form.check_box :auto_renewal, class: 'form-control'
                      %span
                  %span.form-text.text-muted Please select Auto Renewal

              .form-group.row
                %label.col-lg-3.col-form-label Active Status :
                .col-lg-6
                  %span.kt-switch.kt-switch--outline.kt-switch--icon.kt-switch--success
                    %label
                      = form.check_box :active, class: 'form-control'
                      %span
                  %span.form-text.text-muted Please select Active

        .kt-portlet__foot
          .kt-form__actions.kt-form__actions--right
            .row
              .col-lg-3
              .col-lg-6
                %button.btn.btn-primary{type: "submit"} Submit
                %span.kt-margin-l-10
                  or
                  = link_to 'Cancel & Back', admin_subscriptions_path, class: 'kt-link kt-font-bold'
