#kt_content.kt-content.kt-grid__item.kt-grid__item--fluid
  .kt-portlet.kt-portlet--mobile
    .kt-portlet__head.kt-portlet__head--lg
      .kt-portlet__head-label
        %span.kt-portlet__head-icon
          .kt-demo-icon__preview
        %h3.kt-portlet__head-title
          Subscription Details:
      .kt-portlet__head-toolbar
        .kt-portlet__head-wrapper
          = link_to admin_subscriptions_path, class: 'btn btn-clean btn-icon-sm' do
            %i.la.la-long-arrow-left
            Back 
        .kt-portlet__head-wrapper
          = link_to edit_admin_subscription_path(@subscription), class: 'btn btn-brand btn-icon-sm' do
            Edit 
    .kt-portlet__body
      .kt-widget12
        .kt-portlet__body.kt-portlet__body--fi
          .kt-widget12__content
            .kt-widget12__item
              .kt-widget12__info
                %span.kt-widget12__desc User:
                .kt-widget12__value
                  = @subscription.user.full_name.capitalize
              .kt-widget12__info
                %span.kt-widget12__desc Active Status:
                .kt-widget12__value
                  = @subscription.active ? 'Yes' : 'No'
            .kt-widget12__item
              .kt-widget12__info
                %span.kt-widget12__desc Plan:
                .kt-widget12__value
                  = @subscription.plan.name
              .kt-widget12__info
                %span.kt-widget12__desc Auto Renewal
                .kt-widget12__value
                  = @subscription.auto_renewal ? 'Yes' : 'No'
            .kt-widget12__item
              .kt-widget12__info
                %span.kt-widget12__desc Subscription Type:
                .kt-widget12__value
                  =@subscription.s_type.capitalize
              .kt-widget12__info
                %span.kt-widget12__desc Sport Name:
                .kt-widget12__value
                  = @subscription.sports_type
            .kt-widget12__item
              .kt-widget12__info
                %span.kt-widget12__desc Monthly Price:
                .kt-widget12__value
                  = @subscription.price_per_month
              .kt-widget12__info
                %span.kt-widget12__desc Yearly Price:
                .kt-widget12__value
                  = @subscription.price_per_year
            .kt-widget12__item
              .kt-widget12__info
                %span.kt-widget12__desc Calls Limits/hr :
                .kt-widget12__value
                  = @subscription.calls_limit_per_hour
              .kt-widget12__info
                %span.kt-widget12__desc Time Status
                %span.kt-widget12__progress
                  .progress.progress-sm
                    .progress-bar{class: @subscription.s_type == 'monthly' ? 'kt-bg-brand' : 'kt-bg-warning', "aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar", :style => "width: #{( Time.now.to_date - @subscription.start_time.to_date).to_i }%;"}
                .kt-widget24__action
                  %span.kt-widget24__change
                    = dateformatter(@subscription.start_time)
                  %span.kt-widget12__stat.pull-right
                    = dateformatter(@subscription.end_time)
            .kt-widget12__item
              .kt-widget12__info
                %span.kt-widget12__desc Tournaments:
                .kt-widget12__value
                  %ul
                    - @subscription.tournaments.each do |tour|
                      %li= tour.name.capitalize
