.page-loader
  .loader
    %i
    %i
    %i
= render partial: "/layouts/admin_layout/header"
.main
  = render partial: "/layouts/admin_layout/notifications"
  = render partial: "/layouts/admin_layout/navigation"
  %section.content
    = yield
    = render partial: "/layouts/admin_layout/footer"
