%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    %title Hoteloite | Admin Dashboard
    %link{href: "favicon.png", rel: "shortcut icon", type: "image/png"}
    / Vendors
    %link{href: "/assets/new_admin/vendors/animate.css/animate.min.css", rel: "stylesheet"}
    %link{href: "/assets/new_admin/vendors/zwicon/zwicon.min.css", rel: "stylesheet"}
    %link{href: "/assets/new_admin/vendors/overlay-scrollbars/OverlayScrollbars.min.css", rel: "stylesheet"}
    %link{href: "/assets/new_admin/vendors/fullcalendar/core/main.min.css", rel: "stylesheet"}
    %link{href: "/assets/new_admin/vendors/fullcalendar/daygrid/main.min.css", rel: "stylesheet"}
    %link{href: "/assets/new_admin/css/app.min.css", rel: "stylesheet"}
  %body
    .page-loader
      .loader
        %i
        %i
        %i
    = render partial: "/layouts/admin_layout/header"
    .main
      = render partial: "/layouts/admin_layout/notifications"
      = render partial: "/layouts/admin_layout/navigation"
      %section.content
        = yield
        = render partial: "/layouts/admin_layout/footer"

    / Vendors
    %script{src: "/assets/new_admin/vendors/jquery/jquery.min.js"}
    %script{src: "/assets/new_admin/vendors/popper.js/popper.min.js"}
    %script{src: "/assets/new_admin/vendors/bootstrap/js/bootstrap.min.js"}
    %script{src: "/assets/new_admin/vendors/headroom/headroom.min.js"}
    %script{src: "/assets/new_admin/vendors/overlay-scrollbars/jquery.overlayScrollbars.min.js"}
    %script{src: "/assets/new_admin/vendors/flot/jquery.flot.js"}
    %script{src: "/assets/new_admin/vendors/flot/jquery.flot.resize.js"}
    %script{src: "/assets/new_admin/vendors/flot/flot.curvedlines/curvedLines.js"}
    %script{src: "/assets/new_admin/vendors/sparkline/jquery.sparkline.min.js"}
    %script{src: "/assets/new_admin/vendors/easy-pie-chart/jquery.easypiechart.min.js"}
    %script{src: "/assets/new_admin/vendors/jqvmap/jquery.vmap.min.js"}
    %script{src: "/assets/new_admin/vendors/jqvmap/maps/jquery.vmap.world.js"}
    %script{src: "/assets/new_admin/vendors/fullcalendar/core/main.min.js"}
    %script{src: "/assets/new_admin/vendors/fullcalendar/daygrid/main.min.js"}
    / Site Functions & Actions
    %script{src: "/assets/new_admin/js/app.min.js"}
  / Mirrored from byrushan.com/projects/maed/app/2.0/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 Jan 2020 17:28:54 GMT
