%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    %title Hoteloite
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{href: "favicon.png", rel: "shortcut icon", type: "image/png"}
    / Vendors
    %link{href: "/assets/admin/vendors/animate.css/animate.min.css", rel: "stylesheet"}
    %link{href: "/assets/admin/vendors/zwicon/zwicon.min.css", rel: "stylesheet"}
    %link{href: "/assets/admin/vendors/overlay-scrollbars/OverlayScrollbars.min.css", rel: "stylesheet"}
    %link{href: "/assets/admin/vendors/fullcalendar/core/main.min.css", rel: "stylesheet"}
    %link{href: "/assets/admin/vendors/fullcalendar/daygrid/main.min.css", rel: "stylesheet"}
    %link{href: "/assets/admin/css/app.min.css", rel: "stylesheet"}
  %body
    - if admin_signed_in?
      = render partial: "/layouts/admin"
    - else
      = render partial: "/layouts/user"

    %script{src: "/assets/admin/vendors/jquery/jquery.min.js"}
    %script{src: "/assets/admin/vendors/popper.js/popper.min.js"}
    %script{src: "/assets/admin/vendors/bootstrap/js/bootstrap.min.js"}
    %script{src: "/assets/admin/vendors/headroom/headroom.min.js"}
    %script{src: "/assets/admin/vendors/overlay-scrollbars/jquery.overlayScrollbars.min.js"}
    %script{src: "/assets/admin/vendors/flot/jquery.flot.js"}
    %script{src: "/assets/admin/vendors/flot/jquery.flot.resize.js"}
    %script{src: "/assets/admin/vendors/flot/flot.curvedlines/curvedLines.js"}
    %script{src: "/assets/admin/vendors/sparkline/jquery.sparkline.min.js"}
    %script{src: "/assets/admin/vendors/easy-pie-chart/jquery.easypiechart.min.js"}
    %script{src: "/assets/admin/vendors/jqvmap/jquery.vmap.min.js"}
    %script{src: "/assets/admin/vendors/jqvmap/maps/jquery.vmap.world.js"}
    %script{src: "/assets/admin/vendors/fullcalendar/core/main.min.js"}
    %script{src: "/assets/admin/vendors/fullcalendar/daygrid/main.min.js"}
    %script{src: "/assets/admin/js/app.min.js"}
