%html{lang: "en"}
  %head
    %meta{content: "text/html;charset=UTF-8", "http-equiv" => "content-type"}
    %meta{charset: "utf-8"}
    %title Hoteloite | Dashboard
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{content: "Latest updates and statistic charts", name: "description"}
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    %script{src: "/assets/admin/fonts/webfont.js"}
    :javascript
      WebFont.load({
        google: {"families":["Poppins:300,400,500,600,700"]},
        active: function() {
            sessionStorage.fonts = true;
        }
      });

    %link{href: "/assets/css/demo1/style.bundle.css", rel: "stylesheet", type: "text/css"}


    %link{href: "/assets/user/vendors/custom/fullcalendar/fullcalendar.bundle.css", rel: "stylesheet", type: "text/css"}
    %link{href: "/assets/user/vendors/global/vendors.bundle.css", rel: "stylesheet", type: "text/css"}
    %link{href: "/assets/user/css/demo4/style.bundle.css", rel: "stylesheet", type: "text/css"}
    %link{href: "/assets/user/css/demo4/pricing-1.css", rel: "stylesheet", type: "text/css"}
    %link{href: "/assets/user/css/demo4/wizard-1.css", rel: "stylesheet", type: "text/css"}
    %link{href: "/assets/user/media/logos/favicon.ico", rel: "shortcut icon"}
  %body.kt-page--loading-enabled.kt-page--loading.kt-page--fixed.kt-quick-panel--right.kt-demo-panel--right.kt-offcanvas-panel--right.kt-header--fixed.kt-header--minimize-menu.kt-header-mobile--fixed.kt-subheader--enabled.kt-subheader--transparent.kt-page--loading{style: "background-image: url(/assets/user/media/demos/demo4/header.jpg); background-position: center top; background-size: 100% 350px;"}
    #kt_header_mobile.kt-header-mobile.kt-header-mobile--fixed
      .kt-header-mobile__logo
        %a{href: "index.html"}
          %img{alt: "Logo", src: "/assets/user/media/logos/gp_2.png", height: '25px'}
      .kt-header-mobile__toolbar
        %button#kt_header_mobile_toggler.kt-header-mobile__toolbar-toggler
          %span
        %button#kt_header_mobile_topbar_toggler.kt-header-mobile__toolbar-topbar-toggler
          %i.flaticon-more-1
    / end:: Header Mobile
    .kt-grid.kt-grid--hor.kt-grid--root
      .kt-grid__item.kt-grid__item--fluid.kt-grid.kt-grid--ver.kt-page
        #kt_wrapper.kt-grid__item.kt-grid__item--fluid.kt-grid.kt-grid--hor.kt-wrapper
          / begin:: Header
          #kt_header.kt-header.kt-header--fixed{"data-ktheader-minimize" => "on"}
            .kt-container
              / begin:: Brand
              #kt_header_brand.kt-header__brand.kt-grid__item
                = link_to root_path, class: 'kt-header__brand-logo' do
                  %img.kt-header__brand-logo-default{alt: "Logo", src: "/assets/user/media/logos/gp_2.png", height: '25px'}
                  %img.kt-header__brand-logo-sticky{alt: "Logo", src: "/assets/user/media/logos/gp_2.png", height: '25px'}
              / end:: Brand
              / begin: Header Menu
              = render partial: "/layouts/user_layout/header_menu"
              / end: Header Menu
              / begin:: Header Topbar
              = render partial: "/layouts/user_layout/header_topbar"
              / end:: Header Topbar
          / end:: Header
          .kt-grid__item.kt-grid__item--fluid.kt-grid.kt-grid--ver.kt-grid--stretch
            #kt_body.kt-container.kt-body.kt-grid.kt-grid--ver
              .kt-grid__item.kt-grid__item--fluid.kt-grid.kt-grid--hor
                / begin:: Subheader
                = render partial: "/layouts/user_layout/sub_header"
                / end:: Subheader
                / begin:: Content
                = yield
                / end:: Content
          / begin:: Footer
          = render partial: '/layouts/user_layout/footer'
          / end:: Footer
    / end:: Page
    :javascript
      var KTAppOptions = {"colors":{"state":{"brand":"#366cf3","light":"#ffffff","dark":"#282a3c","primary":"#5867dd","success":"#34bfa3","info":"#36a3f7","warning":"#ffb822","danger":"#fd3995"},"base":{"label":["#c5cbe3","#a1a8c3","#3d4465","#3e4466"],"shape":["#f0f3ff","#d9dffa","#afb4d4","#646c9a"]}}};
    %link{href: "/assets/user/css/demo4/invoice-1.css", rel: "stylesheet", type: "text/css"}
    %script{src: "/assets/user/vendors/global/vendors.bundle.js", type: "text/javascript"}
    %script{src: "/assets/user/js/demo4/scripts.bundle.js", type: "text/javascript"}
    / %script{src: "/assets/user/js/demo4/add-contact.js", type: "text/javascript"}
    %script{src: "/assets/user/vendors/custom/fullcalendar/fullcalendar.bundle.js", type: "text/javascript"}
    %script{src: "/assets/user/vendors/custom/gmaps/gmaps.js", type: "text/javascript"}
    %script{src: "/assets/user/js/demo4/pages/dashboard.js", type: "text/javascript"}
