%section.content
  %header.content__title
    %h1 Update Password
  .card
    .card-body
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = render "shared/error_messages", resource: resource
        .form-group
          %label Email address
          = f.text_field :email, class: "form-control", placeholder: "Email",readonly: true
        .form-group
          %label Password
          %br
          = f.password_field :password, class: "form-control", placeholder: "Password"
          - if @minimum_password_length
            %em
            %span.form-text.text-muted
              = @minimum_password_length
              characters minimum
        .form-group
          %label Password Confirmation
          = f.password_field :password_confirmation,class: "form-control", placeholder: "Confirm Password"
        .form-group
          %label Current Password
          = f.password_field :current_password, class: "form-control", placeholder: "Current Password"
          %span.form-text.text-muted we need your current password to confirm your changes

        %button.btn.btn-success{type: "submit"} Update Password

      .clearfix.m-4
